{% import "_macros.html" as macros %}

<div id="intro">
  <img class="img-responsive" src="./static/img/timeline-intro.gif" alt="Welcome To Timeline">
</div>
<div id="description">
  <h5><i>Timeline</i> is an exploration into the development of Western music.</h5>
  <h5>Plug in your headphones, and take a journey into the events, characters and concepts that shaped Western musical tradition.</h5>
  <br>
  <h5><span><a href="{{ url_for('chapter_page', Name=slugs[0]) }}">- Begin -</a></span></h5>
</div>
