{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block menu %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="explainer">
        <h3>About</h3>
        <h4><i>Timeline</i> is a project from VPR Classical, a service of Vermont Public Radio.</h4>
        <h4>The podcast is hosted by VPR Classical's James Stewart and is made possible, in part, by a grant from the Ida and William Rosenthal Foundation.<h4>
        <hr>
        <h3>Credits</h3>
        <h4>Host: James Stewart</h4>
        <h4>Director of Digital: Jonathan Butler</h4>
        <h4>Designer: Emily Alfin Johnson</h4>
        <h4>Developer: Sara Simon</h4>
      </div>
    </div>
  </div>
</div>

{% endblock %}
