{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block menu %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="about">
        <h3>About</h3>
        <h4><i>Timeline</i> is a project from VPR Classical, a service of Vermont Public Radio.</h4>
        <h4>The podcast is made possible, in part, by a grant from the Ida and William Rosenthal Foundation.<h4>
        <hr>
        <h3>Credits</h3>
          <h4>Host:</h4>
          <h6>James Stewart</h6>
          <h4>VPR Classical Managing Producer:</h4>
          <h6>Kari Anderson</h6>
          <h4>Director of Digital:</h4>
          <h6>Jonathan Butler</h6>
          <h4>Designer:</h4>
          <h6>Emily Alfin Johnson</h6>
          <h4>Developer:</h4>
          <h6>Sara Simon</h6>
      </div>
    </div>
  </div>
</div>

{% endblock %}
