{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block menu %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="about">
        <h3>About</h3>
        <h4><i>Timeline</i> is a project from VPR Classical, a service of Vermont Public Radio.</h4>
        <h4>The podcast is made possible, in part, by a grant from the Ida and William Rosenthal Foundation.<h4><br>
        <a class="name" href="https://itunes.apple.com/us/podcast/vpr-classical-timeline/id1003929168?mt=2" alt="iTunes" target="_blank"><img class="badge-responsive" src="http://mediad.publicbroadcasting.net/p/vpr/files/vpr-itunes-store-simon-08012016.png" width="117"></a>
        <a class="name" href="https://play.google.com/music/m/Ieaub2f7s4msxjtgymgmsfi2pi4?t=Timeline" alt="Google Play" target="_blank"><img class="badge-responsive" src="http://mediad.publicbroadcasting.net/p/vpr/files/vpr-google-play-simon-08012016.png" width="117"></a>
        <hr>
        <h3>Credits</h3>
          <h4>Host:</h4>
          <h6>James Stewart</h6>
          <h4>Digital Producer:</h4>
          <h6>Emily Alfin Johnson</h6>
          <h4>Web Developer:</h4>
          <h6>Sara Simon</h6>
          <h6>With support from Kari Anderson and Jonathan Butler</h6>
      </div>
    </div>
  </div>
</div>

{% endblock %}
