{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block menu %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="explainer">
        <h3><a href="{{ url_for('about') }}">About This Project</a></h3>
        <hr style="border-top: 1px solid #5D0B0B">
        <h3>Ancient Music</h3>
        <p>1400 BCE - 1000 AD</p>
        {% for chapter in chapters %}
          {% if chapter.Era == "Ancient Music" %}
              <h4><a href="{{ url_for('chapter_page', Name=chapter.slug) }}">{{ chapter.Name}}</a></h4>
          {% endif %}
        {% endfor %}
        <hr style="border-top: 1px solid #8A181A">
        <h3>Middle Ages</h3>
        <p>1000 - 1400</p>
        {% for chapter in chapters %}
          {% if chapter.Era == "Middle Ages" %}
              <h4><a href="{{ url_for('chapter_page', Name=chapter.slug) }}">{{ chapter.Name}}</a></h4>
          {% endif %}
        {% endfor %}
        <hr style="border-top: 1px solid #670A30">
        <h3>Renaissance</h3>
        <p>1400 - 1600</p>
        {% for chapter in chapters %}
          {% if chapter.Era == "Renaissance" %}
              <h4><a href="{{ url_for('chapter_page', Name=chapter.slug) }}">{{ chapter.Name}}</a></h4>
          {% endif %}
        {% endfor %}
        <hr style="border-top: 1px solid #50154C">
        <h3>Baroque</h3>
        <p>1600 - 1750</p>
        {% for chapter in chapters %}
          {% if chapter.Era == "Baroque" %}
              <h4><a href="{{ url_for('chapter_page', Name=chapter.slug) }}">{{ chapter.Name}}</a></h4>
          {% endif %}
        {% endfor %}
        <hr style="border-top: 1px solid #3C0C36">
        <h3>Rococo</h3>
        <p>1750 - 1775</p>
        {% for chapter in chapters %}
          {% if chapter.Era == "Rococo" %}
              <h4><a href="{{ url_for('chapter_page', Name=chapter.slug) }}">{{ chapter.Name}}</a></h4>
          {% endif %}
        {% endfor %}
        <hr style="border-top: 1px solid #512363">
        <h3>Classical</h3>
        <p>1775 - 1815</p>
        {% for chapter in chapters %}
          {% if chapter.Era == "Classical" %}
              <h4><a href="{{ url_for('chapter_page', Name=chapter.slug) }}">{{ chapter.Name}}</a></h4>
          {% endif %}
        {% endfor %}
        <hr style="border-top: 1px solid #331D58">
        <h3>Romantic</h3>
        <p>1815 - 1900</p>
        {% for chapter in chapters %}
          {% if chapter.Era == "Romantic" %}
              <h4><a href="{{ url_for('chapter_page', Name=chapter.slug) }}">{{ chapter.Name}}</a></h4>
          {% endif %}
        {% endfor %}
        <hr style="border-top: 1px solid #211C54">
        <h3>20th Century</h3>
        <p>1900 - Present</p>
        <h4><a href="{{ url_for('about') }}"><i>- Coming Soon -</i></a></h4>
      </div>
    </div>
  </div>
</div>

{% endblock %}
